@use 'vars' as *;

.contact-section {
    padding-top: 109px;
    margin-bottom: 150px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $white;
    border-radius: 12px;
}

.contact-form {
    width: 100%;
    max-width: 1076px;
    padding: 80px;
    border-right: 1px solid $whiteGreyNum95;
}

.contact-form__info {

    label {
        display: block;
    }

    label[for=name],
    [for=surname],
    [for=email],
    [for=tel],
    [for=subject],
    [for=message] {
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: $greyNum15;
        margin-bottom: 16px;
    }

    input {
        width: 100%;
        padding: 24px 20px;
        border: 1px solid $whiteGreyNum95;
        border-radius: 8px;
        background-color: $whiteGreyNum99;
    }

    input[placeholder] {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        color: $greyNum40
    }

    &:nth-child(1),
    &:nth-child(2) {
        display: flex;
        column-gap: 30px;
        margin-bottom: 30px;

        div {
            width: 100%;
        }
    }

    &:nth-child(3) {
        margin-bottom: 50px;

        div:nth-child(1) {
            margin-bottom: 50px;
        }

        div:nth-child(2) {

            textarea {
                width: 100%;
                min-height: 170px;
                padding: 24px 20px;
                border: 1px solid $whiteGreyNum95;
                border-radius: 8px;
                background-color: $whiteGreyNum99;
                resize: none;
            }
        }
    }
}

.contact-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        display: block;
        width: 220px;
        height: 63px;
        background-color: $orangeNum50;
        border-radius: 12px;
        border: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: $white;
        cursor: pointer;
    }
}

.contact-link {
    width: 100%;
    max-width: 520px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.contact-link__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 360px;
    height: 155px;
    border: 1px solid $whiteGreyNum95;
    border-radius: 8px;
    background-color: $whiteGreyNum99;

    &:nth-child(4) {

        div {
            display: flex;
            gap: 14px;
        }
    }

    a {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: $greyNum30;
    }
}