@use 'vars' as *;

.courses-info-section {
    padding-top: 109px;
    margin-bottom: 150px;
}

.courses-info-content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.courses-info-item {
    background-color: $white;
    border-radius: 12px;
    padding: 50px;
}

.courses-info-top__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 30px;

    div {
        max-width: 1286px;

        span {
            display: inline-block;
        }

        span:nth-child(1) {
            font-size: 24px;
            font-weight: 600;
            line-height: 150%;
            color: $greyNum15;
            margin-bottom: 10px;
        }

        span:nth-child(2) {
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            color: $greyNum35;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 63px;
        border: 1px solid $whiteGreyNum95;
        border-radius: 8px;
        background-color: $whiteGreyNum99;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: $greyNum15;
    }
}

.courses-info-top__img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 30px;
    overflow-x: auto;
}

.courses-info-top__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 50px;

    div {
        display: flex;
        column-gap: 10px;

        span {
            padding: 10px 16px;
            border: 1px solid $whiteGreyNum95;
            border-radius: 8px;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            color: $greyNum35;
        }
    }

    span {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        color: $greyNum15;
    }
}

.courses-info-bottom {
    border: 1px solid $whiteGreyNum95;
    border-radius: 12px;
}

.courses-info-bottom__subtitle {
    padding: 24px 30px;
    border-bottom: 1px solid $whiteGreyNum95;

    span {
        font-size: 22px;
        font-weight: 600;
        line-height: 150%;
        color: $greyNum15;
    }
}

.courses-info-bottom__learn-time-info {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;

        span:nth-child(1) {
            font-size: 50px;
            font-weight: 800;
            line-height: 150%;
            color: $greyNum15;
        }

        span:nth-child(2) {
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            color: $greyNum20;
        }
    }

    div:not(:last-child) {
        border-right: 1px solid $whiteGreyNum95;
    }
}