@mixin font-face($font-family, $url, $weight) {
    @font-face {
        font-family: "#{$font-family}";
        font-style: normal;
        font-display: swap;
        font-weight: #{$weight};
        src: local('#{$font-family}'),
        url('#{$url}.ttf') format('truetype');
    }

    // @include font-face('Urbanist', '../fonts/BeVietnamPro-Regular', 400)

}