@use 'vars' as *;

.footer {
    background-color: $white;
    padding: 100px 162px 30px;
    position: relative;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid $whiteGreyNum95;
}

.footer-links {

    img {
        margin-bottom: 40px;
    }

    div {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        a {
            display: block;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            color: $dark;
        }
    }
}

.email::before {
    content: url(../assets/footer/footer-email-icon.svg);
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.tel::before {
    content: url(../assets/footer/footer-tel-icon.svg);
    margin-right: 8px;
    position: relative;
    top: 4px;
}

.location::before {
    content: url(../assets/footer/footer-location-icon.svg);
    margin-right: 8px;
    position: relative;
    top: 3px;
}

.footer-top-content {
    display: flex;
}

.footer-menu {
    display: flex;

    ul {
        width: 249px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        li {

            a {
                font-size: 18px;
                font-weight: 400;
                line-height: 150%;
                color: $greyNum35;
            }
        }

        li:first-child {

            span {
                font-size: 20px;
                font-weight: 600;
                line-height: 150%;
                color: $greyNum15;
            }
        }
    }
}

.footer-social-links {

    span {
        display: block;
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        color: $greyNum15;
        margin-bottom: 14px;
    }

    a {

        img {
            display: inline-block;
            margin-right: 14px;
        }
    }

    a:last-child {
        img {
            margin: 0;
        }
    }
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: $greyNum40;
    }
}