@use 'vars' as *;

// hero-section

.hero-section {
    padding-top: 100px;
    margin-bottom: 150px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    h1 {
        width: 100%;
        max-width: 854px;
        font-size: 48px;
        font-weight: 600;
        line-height: 150%;
        border: 1px solid $whiteGreyNum95;
        border-radius: 11px;
        background-color: $whiteGreyNum99;
        padding: 14px 20px;
        margin-bottom: 20px;
        position: relative;

        &::before {
            content: url(../assets/home/hero/in-hero-title-icon.svg);
            display: inline-block;
            width: 62px;
            height: 62px;
            position: relative;
            top: 11px;
            margin-right: 10px;
        }

        &::after {
            content: url(../assets/home/hero/out-hero-title-lines.svg);
            display: inline-block;
            width: 39px;
            height: 43px;
            position: absolute;
            left: -26px;
            top: -40px;
        }

        span {

            span {
                color: $orangeNum50;
            }
        }
    }

    span:nth-child(2) {
        display: block;
        font-size: 38px;
        font-weight: 500;
        line-height: 150%;
        color: $greyNum15;
        margin-bottom: 10px;
    }

    span:nth-child(3) {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: $greyNum15;
    }
}

.hero-links {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-bottom: 100px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a:nth-child(1) {
        width: 195px;
        height: 63px;
        background-color: $orangeNum50;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        color: $white;
    }

    a:nth-child(2) {
        width: 159px;
        height: 63px;
        border: 1px solid $whiteGreyNum95;
        border-radius: 8px;
        background: $white;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: $dark;
    }
}

.partners-wrapper {
    overflow-x: auto;
}

.partners {
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $whiteGreyNum95;
    border-radius: 12px;
    background-color: $whiteGreyNum99;
    padding: 30px;
    margin-bottom: 100px;

    span {
        display: flex;
        justify-content: center;
        padding: 30px 40px;
        width: 100%;

        &:not(:last-child) {
            border-right: 1px solid $whiteGreyNum95;
        }

        img {
            display: inline-block;
        }
    }
}

// benefits-section

.benefits-title,
.courses-title,
.testimonials-title,
.pricing-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 80px;

    div {
        max-width: 1177px;

        span {
            font-size: 48px;
            font-weight: 600;
            line-height: 150%;
            color: $greyNum15;
            margin-bottom: 6px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            color: $greyNum35;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 63px;
        border: 1px solid $whiteGreyNum95;
        border-radius: 8px;
        background: $whiteGreyNum99;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: $greyNum15;
    }
}

.benefits-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 100px;
}

.benefits-item {
    max-width: 519px;
    border-radius: 12px;
    background-color: $white;
    padding: 50px;

    span {
        display: flex;
        justify-content: flex-end;
        font-size: 80px;
        font-weight: 700;
        line-height: 24px;
        color: $greyNum15;
        margin-bottom: 50px;
    }

    div {

        h2 {
            font-size: 24px;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.6%;
            color: $greyNum20;
            margin-bottom: 14px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            color: $greyNum30;
            margin-bottom: 50px;
        }
    }
}

.benefits-link {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a {
        display: flex;
        justify-content: center;
        width: 74px;
        height: 74px;
        border: 1px solid $whiteGreyNum95;
        border-radius: 8px;
        background-color: $whiteGreyNum99;
    }
}

// courses-section

.courses-section {
    margin-bottom: 108px;
}

.courses-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.courses-item {
    max-width: 784px;
    border: 1px solid $whiteGreyNum95;
    border-radius: 12px;
    background-color: $white;
    padding: 50px;

    img {
        margin-bottom: 30px;
    }
}

.courses-item__subinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    div {
        display: flex;
        column-gap: 10px;

        span {
            padding: 10px 16px;
            border: 1px solid $whiteGreyNum95;
            border-radius: 8px;
            background: $white;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            color: $greyNum30;
        }
    }

    span {
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        color: $greyNum15;
    }
}

.courses-item__info {

    span {
        display: inline-block;
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
        color: $greyNum15;
        margin-bottom: 14px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: $greyNum30;
        margin-bottom: 30px;
    }

    a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 18px 0;
        border: 1px solid $whiteGreyNum95;
        border-radius: 8px;
        background-color: $whiteGreyNum99;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: $greyNum15;
    }
}

// testimonials-section

.testimonials-section {
    margin-bottom: 168px;
}

.testimonials-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.testimonials-item {
    max-width: 784px;
    border: 1px solid $whiteGreyNum95;
    border-radius: 12px;
    background-color: $white;

    p {
        padding: 50px;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: $greyNum30;
    }
}

.user-info {
    background-color: $whiteGreyNum99;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    .name {
        display: flex;
        align-items: center;
        column-gap: 15px;

        span {
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;
            color: $greyNum20;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 182px;
        height: 63px;
        border: 1px solid $whiteGreyNum95;
        border-radius: 8px;
        background-color: $whiteGreyNum97;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: $greyNum15;
    }
}