@use 'vars' as *;

.pricing-section {
    margin-bottom: 150px;
}

.price-buttons {
    width: 272px;
    height: 79px;
    border-radius: 8px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 116px;
        height: 55px;
        background-color: $white;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}

#price-active-btn {
    background-color: $orangeNum50;
    border-radius: 6px;
    color: $white;
}

.pricing-content {
    background-color: $white;
    border-radius: 12px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing-item {
    border: 1px solid $whiteGreyNum95;
    border-radius: 12px;
    background-color: $whiteGreyNum99;
    padding: 50px 30px;
    width: 100%;
    max-width: 704px;

    h3 {
        text-align: center;
        border: 1px solid $orangeNum90;
        border-radius: 6px;
        background-color: $orangeNum97;
        padding: 12px 0;
        font-size: 22px;
        font-weight: 500;
        line-height: 169%;
        color: $greyNum15;
        margin-bottom: 62px;
    }
}

.standart-cost,
.pro-cost {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
}

.standart-num,
.pro-num {
    font-size: 80px;
    font-weight: 600;
    line-height: 73%;
    color: $greyNum15;
}

.standart-plan-period,
.pro-plan-period {
    font-size: 20px;
    font-weight: 500;
    line-height: 73%;
    color: $greyNum30;
}

.price-info {
    border: 1px solid $whiteGreyNum95;
    border-radius: 14px 14px 8px 8px;
    background-color: $white;
    padding-top: 40px;

    .price-info__title {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        color: $greyNum15;
        margin-bottom: 30px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        border-radius: 0 0 8px 8px;
        background-color: $orangeNum50;
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        color: $white;
    }
}

.price-info__item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 40px;
    padding: 0 40px;

    span {
        display: flex;
        align-items: center;
        border: 1px solid $whiteGreyNum95;
        border-radius: 8px;
        column-gap: 12px;
        padding: 14px;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: $greyNum30;

        .marker {
            display: inline-block;
            width: 32px;
            height: 32px;
        }
    }
}

#pricing-marker-on {
    background-color: $orangeNum95;
    background-image: url(../assets/home/pricing/pricing-marker-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#pricing-marker-off {
    background-image: url(../assets/home/pricing/pricing-marker-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
}