@use 'vars' as *;

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body,
blockquote,
figure {
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
    margin: 0;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
button {
    font: inherit;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color: $whiteGreyNum97;
    font-family: "Be Vietnam Pro";
}

.main-content {
    width: 100%;
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}