$white: #FFF;
$dark: #000;

$orangeNum50: #FF9500;
$orangeNum70: #FFBF66;
$orangeNum75: #FFCA80;
$orangeNum80: #FFD499;
$orangeNum90: #FFEACC;
$orangeNum95: #FFF4E5;
$orangeNum97: #FFF9F0;
$orangeNum99: #FFFDFA;

$whiteGreyNum90: #E4E4E7;
$whiteGreyNum95: #F1F1F3;
$whiteGreyNum97: #F7F7F8;
$whiteGreyNum99: #FCFCFD;

$greyNum10: #191919;
$greyNum15: #262626;
$greyNum20: #333333;
$greyNum30: #4C4C4D;
$greyNum35: #59595A;
$greyNum40: #656567;
$greyNum60: #98989A;
$greyNum70: #B3B3B3;