@use 'vars';
@use 'fonts' as fonts;
@use 'settings';
@use 'title';
@use 'pricing';
@use 'faq';
@use 'video';
@use 'header';
@use 'home';
@use 'courses';
@use 'courseDetails';
@use 'about';
@use 'price';
@use 'contacts';
@use 'slider';
@use 'authorization';
@use 'footer';
@use 'media';
@include fonts.font-face('Be Vietnam Pro', '../fonts/BeVietnamPro-Regular', 400);
@include fonts.font-face('Be Vietnam Pro', '../fonts/BeVietnamPro-Medium', 500);
@include fonts.font-face('Be Vietnam Pro', '../fonts/BeVietnamPro-SemiBold', 600);
@include fonts.font-face('Be Vietnam Pro', '../fonts/BeVietnamPro-Bold', 700);